.wrapper-page {
  text-align: center;
  max-width: 1500px;
  margin: auto;
}

.wrapper-camer {
  overflow-y: hidden;
  padding: 10px;
}

.wrapper-form {
  margin-top: 100px;
}

.btn {
  width: 92.5%;
  margin-top: 40px;
}
