<div class="wrapper-main">
  <app-navbar></app-navbar>

  <div class="row wrapper-page">
    <div class="col-8 embed-responsive embed-responsive-16by9 wrapper-camera">
      <iframe class="embed-responsive-item item-camera" scrolling="no" [src]="_cameraUrl | bypass"></iframe>
    </div>

    <div class="col-4 wrapper-form">
      <h3 class="title">{{ 'controlPanel.formHint' | translate }}</h3>

      <form [formGroup]="_simulationParametersForm">
        <formly-form [form]="_simulationParametersForm" [fields]="_simulationParametersFields" [model]="_simulationParametersModel"></formly-form>

        <button *ngIf="!_formLoading" (click)="_submit()" class="btn btn-outline-secondary btn-form-submit">
          {{ 'common.submit' | translate }}
        </button>
      </form>

      <div *ngIf="_formLoading" class="spinner-border text-secondary" role="status"></div>
    </div>
  </div>
</div>
