.wrapper-page {
  text-align: center;
  max-width: 1500px;
  margin: auto;
}

.card-task-data {
  width: 95%;
  max-width: 900px;
  margin: 15px auto 15px auto;
  padding: 10px;
}

.btn {
  margin: 40px 2.5%;
  width: 95%;
}

.btn-cancel {
  margin-top: -20px;
}
