<div class="wrapper-main">
  <app-navbar></app-navbar>

  <div class="row wrapper-page">
    <div *ngIf="_currentTask" class="card card-task-data">
      <div class="card-data">
        <p class="card-text text-justify">
          <b>{{ ('tasks.taskGoal' | translate) + ': '}}<br></b>{{ _currentTask.description }}
        </p>
      </div>
    </div>

    <div class="col-6 offset-lg-3 p-5">
      <h3 class="title">{{ 'tasks.submitYourReport' | translate }}</h3>

      <form [formGroup]="_fileForm">
        <formly-form [form]="_fileForm" [fields]="_fileFields" [model]="_fileModel"></formly-form>

        <button *ngIf="!_loading" (click)="_submit()" class="btn btn-outline-secondary">
          {{ 'common.submit' | translate }}
        </button>
      </form>

      <button *ngIf="!_loading" (click)="_cancel()" class="btn btn-outline-secondary btn-cancel">
        {{ 'common.cancel' | translate }}
      </button>

      <div *ngIf="_loading" class="spinner-border text-secondary" role="status"></div>
    </div>
  </div>
</div>
