<div class="wrapper-main">
  <app-navbar></app-navbar>

  <div class="row wrapper-page">
    <div class="col-lg-4 offset-lg-2 p-xl-5 wrapper-user-data">
      <div class="wrapper-avatar">
        <img src="../../../../assets/img/avatar-placeholder.png">
      </div>

      <h2>{{ _user.first_name + ' ' + _user.last_name }}</h2>
      <h3 *ngIf="_user.group_id">{{ ('home.group' | translate) + ': ' +  _user.group_id }}</h3>
      <h3 *ngIf="!_user.group_id">{{ 'home.noGroup' | translate }}</h3>
    </div>

    <div class="col-lg-4 p-xl-5 wrapper-chart">
      <h4>{{ 'home.taskGrades' | translate }}</h4>
      <canvas
        baseChart
        class="chart"
        chartType="line"
        [datasets]="_studentGradeData"
        [labels]="_studentGradeLabels">
      </canvas>
    </div>

    <div (click)="_navigateTasks()" class="col-lg-4 offset-lg-2">
      <div class="btn btn-primary wrapper-btn-nav">
        <h3>{{ 'home.myTasks' | translate }}</h3>
      </div>
    </div>

    <div (click)="_navigateControlpanel()" class="col-lg-4">
      <div class="btn btn-info wrapper-btn-nav">
        <h3>{{ 'home.controlPanel' | translate }}</h3>
      </div>
    </div>
  </div>
</div>
