.wrapper-user-data {
  text-align: center;
  overflow-y: hidden;
  margin-bottom: 25px;
}

.wrapper-avatar {
  padding: 10px;
  overflow-y: hidden;

  img {
    width: 50%;
    max-width: 300px;
  }
}

.wrapper-chart {
  margin-top: 50px;
  text-align: center;
}

.wrapper-btn-nav {
  width: 90%;
  text-align: center;
  border-radius: 5px;
  margin: 20px 5%;

  h3 {
    line-height: 300%;
  }
}
