.wrapper-page {
  text-align: center;
  max-width: 1500px;
  margin: auto;
}

.title {
  text-align: center;
}

.btn {
  margin: 20px 2.5%;
  width: 95%;
}

.wrapper-tasks {
  margin-top: 40px;
  max-height: 575px;
  overflow-y: scroll;
}

.item-task {
  text-align: left;
  margin: 10px;

  span {
    cursor: pointer;
    font-weight: 500;
    margin-left: 20px;
  }
  span:hover {
    text-decoration: underline;
  }
}
