<div class="wrapper-main">
  <app-navbar></app-navbar>

  <div class="row wrapper-page">
    <div class="col-lg-6 p-5">
      <h3 *ngIf="!_editMode" class="title">{{ 'tasks.addTaskHint' | translate }}</h3>
      <h3 *ngIf="_editMode" class="title">{{ 'tasks.editTask' | translate }}</h3>

      <form [formGroup]="_taskForm">
        <formly-form [form]="_taskForm" [fields]="_taskFields" [model]="_taskModel"></formly-form>

        <button *ngIf="!_formLoading" (click)="_submit()" class="btn btn-outline-secondary btn-form-submit">
          {{ 'common.submit' | translate }}
        </button>

        <button *ngIf="!_formLoading && _editMode" (click)="_cancelEdit()" class="btn btn-outline-secondary btn-form-submit">
          {{ 'common.cancel' | translate }}
        </button>
      </form>

      <div *ngIf="_formLoading" class="spinner-border text-secondary" role="status"></div>
    </div>

    <div class="col-lg-6 p-5">
      <h3 class="title mb-4">{{ 'tasks.yourTasksHint' | translate }}</h3>

      <div *ngIf="_listLoading" class="spinner-border text-secondary" role="status"></div>

      <h4 *ngIf="_tasks.length === 0" class="text-secondary">{{ 'tasks.noTaskAdded' | translate }}</h4>

      <div class="wrapper-tasks">
        <div *ngFor="let task of _tasks; let ind = index" class="card item-task">
          <div class="card-body">
            <p class="card-text"><b>{{ ('tasks.title' | translate) + ': ' }}</b>{{ task.title }}</p>
            <p class="card-text"><b>{{ ('tasks.startDate' | translate) + ': ' }}</b>{{ task.start_date | date }}</p>
            <p class="card-text"><b>{{ ('tasks.endDate' | translate) + ': ' }}</b>{{ task.end_date | date }}</p>
            <p class="card-text text-justify"><b>{{ ('tasks.description' | translate) + ': '}}</b>{{ task.description }}</p>
            <p class="card-text">
              <b>{{ ('tasks.actions' | translate) + ':'}}</b>
              <span (click)="_edit(ind)" class="text-info">{{ 'tasks.edit' | translate }}</span>
              <span (click)="_delete(ind)" class="text-danger">{{ 'tasks.delete' | translate }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
