.wrapper-page {
  text-align: center;
  max-width: 1500px;
  margin: auto;
}

.submission-wrapper {
  height: 87.5vh;
  overflow-y: scroll;
  box-shadow: 3px 3px 15px -2px #000000;
}

.item-task-submission {
  margin: 10px;
  text-align: left;

  span {
    margin-left: 20px;
    cursor: pointer;
    font-weight: 500;
  }
  span:hover {
    text-decoration: underline;
  }
}

.pdf-wrapper {
  width: 100%;
  height: 87.5vh;
  overflow-y: scroll;
  box-shadow: 3px 3px 15px -2px #000000;
}

.pdf-viewer {
  display: block;
}

.rating-wrapper {
  margin: -10px -10px 0 0;
}

.text-secondary {
  margin-top: 20px;
}

.spinner-preview {
  margin-top: 25%;
}
