<div class="wrapper-main">
  <app-navbar></app-navbar>

  <div class="row justify-content-center wrapper-page">
    <div [ngClass]="_taskSubissions.length === 0 ? 'col-6' : ''" class="col-4 submission-wrapper">
      <h4 *ngIf="_taskSubissions.length === 0 && !_listLoading" class="text-secondary">{{ 'tasks.noSubmissions' | translate }}</h4>

      <div *ngIf="_listLoading" class="spinner-border text-secondary mt-5" role="status"></div>

      <div *ngFor="let taskSubmission of _taskSubissions; let ind = index" class="card item-task-submission">
        <div class="card-body">
          <h6 class="card-title">{{ ('tasks.author' | translate) + ': ' + taskSubmission.creator_name }}</h6>
          <p class="card-text"><b>{{ ('tasks.title' | translate) + ': ' }}</b>{{ taskSubmission.task_title }}</p>
          <p class="card-text"><b>{{ ('tasks.submitDate' | translate) + ': ' }}</b>{{ taskSubmission.submission_date }}</p>

          <p *ngIf="ind !== _rateInd" class="card-text">
            <br><b>{{ ('tasks.actions' | translate) + ':'}}</b>
            <span *ngIf="!taskSubmission.rate" (click)="_displayRateForm(ind)" class="text-info">{{ 'tasks.rate' | translate }}</span>
            <span *ngIf="taskSubmission.rate" (click)="_displayRateForm(ind)" class="text-info">{{ 'tasks.updateRating' | translate }}</span>
            <span (click)="_displayDetails(taskSubmission.id)" class="text-info">{{ 'tasks.details' | translate }}</span>
          </p>

          <div *ngIf="ind === _rateInd" class="rating-wrapper">

            <form [formGroup]="_rateForm">
              <formly-form [form]="_rateForm" [fields]="_rateFields" [model]="_rateModel"></formly-form>
              <br>
              <span (click)="_rateSubmission()" class="text-info">{{ 'tasks.rate' | translate }}</span>
              <span (click)="_cancelRating()" class="text-info">{{ 'common.cancel' | translate }}</span>
              <span (click)="_displayDetails(ind)" class="text-info">{{ 'tasks.details' | translate }}</span>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8">
      <div *ngIf="_previewLoading" class="spinner-border text-secondary spinner-preview" role="status"></div>

      <div *ngIf="_previewData && !_previewLoading" class="pdf-wrapper">
        <pdf-viewer [src]="_previewData" [render-text]="true" class="pdf-viewer"></pdf-viewer>
      </div>
    </div>
  </div>
</div>
