<div class="wrapper-main">
  <app-navbar></app-navbar>

  <div class="row wrapper-page">
    <div class="col-12 p-5">
      <h3 class="title mb-4">{{ 'tasks.yourTasks' | translate }}</h3>

      <div *ngIf="_listLoading" class="spinner-border text-secondary" role="status"></div>

      <h4 *ngIf="_tasks.length === 0" class="text-secondary">{{ 'tasks.noTaskAssigned' | translate }}</h4>

      <div class="wrapper-tasks">
        <div *ngFor="let task of _tasks; let ind = index" class="card item-task">
          <div class="card-body">
            <h6 *ngIf="task.creator_name" class="card-title">{{ ('tasks.creator' | translate) + ': ' + task.creator_name }}</h6>
            <h6 *ngIf="!task.creator_name" class="card-title">{{ ('tasks.creator' | translate) + ': ' + ('tasks.system' | translate) }}</h6>

            <p class="card-text">
              <b>{{ ('tasks.taskTime' | translate) + ': ' }}</b>
              {{ task.start_date | date }} <b>-</b> {{ task.end_date | date }}
            </p>
            <p class="card-text"><b>{{ ('tasks.title' | translate) + ': '}}</b>{{ task.title }}</p>
            <p class="card-text text-justify"><b>{{ ('tasks.description' | translate) + ': '}}</b>{{ task.description }}</p>

            <div *ngIf="!_listLoading">
              <p *ngIf="_taskSubmissionIds.indexOf(task.id) < 0" class="card-text">
                <b>{{ ('tasks.actions' | translate) + ':'}}</b>
                <span (click)="_submit(ind)" class="text-info">{{ 'tasks.submit' | translate }}</span>
              </p>

              <p *ngIf="_taskSubmissions[_taskSubmissionIds.indexOf(task.id)] && !_taskSubmissions[_taskSubmissionIds.indexOf(task.id)].rate">
                <span class="text-waiting text-warning">{{ 'tasks.waitingForTeacher' | translate }}</span>
              </p>

              <p *ngIf="_taskSubmissions[_taskSubmissionIds.indexOf(task.id)] && _taskSubmissions[_taskSubmissionIds.indexOf(task.id)].rate" class="text-success">
                <b>{{ ('tasks.rating' | translate) + ': ' + _taskSubmissions[_taskSubmissionIds.indexOf(task.id)].rate }}</b>
                <span *ngIf="_taskSubmissions[_taskSubmissionIds.indexOf(task.id)].comment" class="text-comment">
                  ({{ _taskSubmissions[_taskSubmissionIds.indexOf(task.id)].comment }})
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
