.wrapper-page {
  text-align: center;
  max-width: 1500px;
  margin: auto;
}

.title {
  text-align: center;
}

.btn {
  margin: 20px 2.5%;
  width: 95%;
}

.wrapper-tasks {
  max-height: 600px;
  overflow-y: scroll;
}

.item-task {
  text-align: left;
  margin: 10px;

  span {
    cursor: pointer;
    font-weight: 500;
    margin-left: 20px;
  }
  span:hover {
    text-decoration: underline;
  }
}

.text-waiting, .text-waiting:hover {
  font-weight: 500 !important;
  margin: 0 !important;
  text-decoration: none !important;
}

.text-comment, .text-comment:hover {
  font-weight: 400 !important;
  margin-left: 5px;
  text-decoration: none !important;
}
