<div class="register-wrapper">
  <img class="logo" src="../../../../assets/img/logo.png">

  <h2 class="title">{{ 'common.appName' | translate }}</h2>

  <form [formGroup]="_registerForm">
    <formly-form [form]="_registerForm" [fields]="_registerFields" [model]="_registerModel"></formly-form>

    <button *ngIf="!_loading" (click)="submit()" class="btn btn-outline-secondary btn-form-submit">
      {{ 'common.submit' | translate }}
    </button>
  </form>

  <div *ngIf="_loading" class="spinner-border text-secondary" role="status"></div>

  <button routerLink="/login" type="button" class="btn btn-outline-secondary btn-form-submit">
    {{ 'common.back' | translate }}
  </button>

  <br>
  <button (click)="testHttp()" type="button" class="btn btn-outline-secondary btn-form-submit">
    {{ 'common.back' | translate }}
  </button>

</div>
