<div class="login-wrapper">
  <img class="logo" src="../../../../assets/img/logo.png">

  <h2 class="title">{{ 'common.appName' | translate }}</h2>

  <form [formGroup]="_loginForm">
    <formly-form [form]="_loginForm" [fields]="_loginFields" [model]="_loginModel"></formly-form>

    <button *ngIf="!_loading" (click)="_submit()" class="btn btn-outline-secondary btn-form-submit">
      {{ 'common.submit' | translate }}
    </button>
  </form>

  <div *ngIf="_loading" class="spinner-border text-secondary" role="status"></div>

  <button routerLink="/register" type="button" class="btn btn-outline-secondary btn-form-submit">
    {{ 'login.register' | translate }}
  </button>
</div>
