.login-wrapper {
  width: 90%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding-bottom: 25px;
}

.title {
  margin: 20px;
}

.logo {
  margin-top: 100px;
  max-width: 90%;
  width: 125px;
}

.btn {
  width: 94%;
}
