@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
@import '~ngx-toastr/toastr-bs4-alert';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper-main {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.wrapper-page {
  padding: 20px;
  overflow-y: hidden;
}

.row {
  margin: 0;
  overflow-y: hidden;
}

.btn-form-submit {
  width: 100%;
  margin: 30px auto 10px auto;
}

.spinner-border {
  margin: 30px auto 10px auto;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn {
  text-transform: capitalize !important;
}
