<div class="formly-field-wrapper custom-field-wrapper" [class]="to.class" [ngClass]="{ 'formly-error-field': formControl.touched || options.parentForm.submitted }">
  <label *ngIf="to.label" class="custom-field-label">
    {{ to.label | translate }}
    <span *ngIf="to.required">*</span>
  </label>

  <ng-container #fieldComponent></ng-container>

  <div *ngIf="(formControl.touched || options.parentForm.submitted) && formControl.invalid" class="custom-error-messages">
    <span>
      {{ printError(formControl.errors) | translate }}
    </span>
  </div>
</div>

