.wrapper-page {
  text-align: center;
  max-width: 600px;
  margin: auto;

  h3 {
    margin-top: 50px;
  }

  label {
    width: 100%;
    text-align: left;
  }
}

.dropdown-menu {
  width: 100%;

  a {
    cursor: pointer;
  }
}

.form-control {
  margin-bottom: 25px;
}
