<div class="wrapper-main">
  <app-navbar></app-navbar>

  <div class="wrapper-page">
    <h3>{{ 'settings.changeLanguage' | translate }}</h3>

    <label>{{ 'settings.chooseApplicationLanguge' | translate }}</label>
    <div class="dropdown">
      <button class="btn btn-outline-primary btn-block dropdown-toggle" (click)="_languageCollapsed = !_languageCollapsed">
        {{ 'settings.applicationLanguage' | translate }}
      </button>
      <div class="dropdown-menu" [ngbCollapse]="_languageCollapsed">
        <a *ngFor="let lang of _availableLangNames; let ind = index" class="dropdown-item" (click)="_updateLang(ind)">{{ lang }}</a>
      </div>
    </div>

    <h3>{{ 'settings.changePassword' | translate }}</h3>

    <label>{{ 'settings.oldPassword' | translate }}</label>
    <input #oldPassword type="password" class="form-control">
    <label>{{ 'settings.newPassword' | translate }}</label>
    <input #newPassword type="password" class="form-control">
    <label>{{ 'settings.confirmNewPassword' | translate }}</label>
    <input #checkPassword type="password" class="form-control">

    <div *ngIf="!_passwordLoading" (click)="_updatePassword(oldPassword.value, newPassword.value, checkPassword.value)" class="btn btn-outline-primary btn-block">
      {{ 'common.submit' | translate }}
    </div>
    <div *ngIf="_passwordLoading" class="spinner-border text-secondary" role="status"></div>

  </div>
</div>
